*
{
    margin: 0;
    padding: 0;
}
body {
    background-color: #2b2b31;
    overflow-x: hidden;
}
@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('../Fonts/Ubuntu-Bold.ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Ubuntu-Regular';
    src: url('../Fonts/Ubuntu-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
.white
{
    color: #fff;
    
}
h1,h2,h3,h4,h5,h6
{
    font-family: 'Ubuntu-Bold';
    color: #fff;
}
p
{
    font-family: 'Ubuntu-Regular';
 
}
.sidemenu {
    background-color: #28282d;
    box-shadow: 0px 2px 7px 0px rgb(0 0 0 / 27%);
    height: 100%;
    position: fixed;
    width: 15%;
}
.adminlogo
{
    padding: 25px 35px;

}
.adminlogo:before {
    content: '';
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    height: 2px;
    display: block;
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
    pointer-events: none;
    width: 100%;
}

.user-image i {
    color: #ff617c;
    padding: 9px 11px;
    font-size: 24px;
}
.user-image {
    background-color: #fff;
    width: 45px;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 50%;
    float: left;
}

.user-deatils span {
    color: #ffffff8c !important;
    font-size: 10px;
}

.user {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #ffffff12;
}

.signout 
{
    background: #333338;
    width: 39px;
    height: 40px;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
}

.signout i {
    font-size: 18px;
    color: #fff;
}
.sidemenu-links {
    padding: 20px 30px;
}
.sidemenu-links ul
{
    list-style-type: none;
}
.sidemenu-links .active a
{
    color: #ff55a5;
}
.sidemenu-links li {
    padding: 10px 0px;
}
.sidemenu-links a
{
    color: rgba(255,255,255,0.75);
}
.sidemenu-links i
{
    padding-right: 10px;
}
.sidemenu-links li {
    padding: 10px 0px;
}
.sidemenu-links a
{
    text-transform: uppercase;
    text-decoration: none;
}
.copyrights span
{
    color: rgba(255,255,255,0.5);
}
.copyrights {
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.pages-dropdown {
    background-color: #2b2b31;
    display: none;
    padding: 10px 18px;
    margin-top: 15px;
    overflow-y: scroll;
    height: 195px;
    border-radius: 4px;
    border-top: 1px solid #ff55a5;
}
  .pages-dropdown::-webkit-scrollbar-track,.collapse 
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #2b2b31;
}

.pages-dropdown::-webkit-scrollbar
{
	width: 3px;
	background-color: #2b2b31;
}

.pages-dropdown::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-image: linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
}
.sidemenu a{
    transition: 0.5s ease;
}
.sidemenu a:hover
{
    color:#ff55a5;
}

.additem {
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);    color: #fff !important;
    padding: 8px 20px;
    text-transform: uppercase;
    opacity: 0.8;
    transition: 0.5s ease;
}
.dashbored-header
{
    display: flex;
    justify-content: space-between;
    padding-right: 35px;
}
.dashbored-header::before {
    content: '';
    border-bottom: 1px solid #ffffff1f;
    width: 97.5%;
    position: absolute;
    top: 100px;
}
.header-title p
{
    font-size: 30px;
    color: #fff;
}
.dashbored-box {
    background-color: #28282d;
    height: 115px;
    border: 1px solid transparent;
    border-radius: 9px;
}
.dashbored-box::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 16px;
    right: 0;
    height: 2px;
    width: 90%;
    display: block;
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
}
.box-content span
{
    color: #ffffff9e;
}
.dashbored-items {
    margin-right: 35px;
    position: relative;
    right: 14px;
}
.box-icon i {
    font-size: 35px;
    color: #ff5681;
}
.pinkicon
{
    font-size: 12px;
    color: #ff5681;
}
.dashboxtitle {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff12;
    padding-bottom: 15px;
}
.dashboxwrap a {
    color: #ffffff7a;
    text-decoration: none;
    transition: 0.5s ease;
}
.dashboxwrap a:hover{
color: #ff55a5
;
}
.dashboxmore 
{
    background: #333338;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 3px 10px;
    font-size: 12px;
}
.dashbox {
    background-color: #28282d;
    padding: 15px 15px;
    width: 94%;
}
.table thead th {
    border-bottom: 1px solid #dee2e626 !important;
    font-size: 12px;
}
.table th, .table td {
    border-top: 1px solid transparent !important;
}
td
{
    color: #fff;
    border:0;
}
th
{
    color: #ffffff7a;
}
.status
{
    color: #5bceae;
}
header
{
    display: none;
}
.responsivemenu 
  {
      display: none;
  }
 /* Define the shape and color of the hamburger lines */
.navbar-toggler span {
    display: block;
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}


/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}

/**
 * Animate collapse into X.
 */

/* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}
/* center line goes transparent */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}
/* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg) ;
}


/**
 * Animate collapse open into hamburger menu
 */

/* top line moves back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg) ;
}
/* middle line goes back to regular color and opacity */
.navbar-toggler span:nth-child(2) {
    opacity: 1;
}
/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg) ;
}

.offcanvas-collapse {
    position: fixed;
    top: 90px;
    bottom: 0;
    padding-top: 15px;
    right: 100%;
    text-align: left;
    width: 60%;
    padding-right: 1rem;
    z-index: 999999999;
    padding-left: 1rem;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(-14%);
}
.offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(18rem);
}

.additem-section {
    background-color: #28282d;
    padding: 50px;
}
#Coverimage {
    height: 368px;
    opacity: 0;
    width: 100%;
    position: relative;
    z-index: 999999999;
    cursor: pointer;
}
.uploader {
    background-color: #2b2b31;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 12px;
    transition: 1s ease;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.uploader:hover .formimg-upload   {
  color: #fff;
}
.uploader:hover    {
    color: #fff;
    border-color: #ff55a5;
  }
  .formimg-upload {
    transition: 1s ease;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: -25px;
    right: 0px;
    bottom: 0;
    left: 0px;
    z-index: 2;
    cursor: pointer;
    margin: 0;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgba(255,255,255,0.5);
    transition: 0.4s ease;
    border: 1px solid transparent;
    border-radius: 4px;
}
.item-title input,.item-description textarea,.item-Releaseyear input,.item-duration input,.item-age input
{
    background: #2b2b31;
    padding: 25px 15px;
    color: #495057 !important;

    border: 1px solid transparent;
}
.item-qulity select {
    color: #495057 !important;
    border: 1px solid transparent;
    background: #2b2b31;
    height: 55px;
}
.country select,.item-genra select
{
    color: #495057 !important;
    border: 1px solid transparent;
    background: #2b2b31; 
    height: 55px; 
}
.dropdown-toggle:hover
{
  background-color: transparent;  
}
.dropdown-toggle:hover
{
    border-color: #ff55a5;
}


.dropdown-menu a {
    color: #fff;
    padding: 2px 10px;
}
.item-qulity select:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    display: block;
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
}

.item-title input:hover,.item-description textarea:hover,.item-Releaseyear input:hover,.item-duration input:hover,.item-age input:hover,.item-qulity select:hover,.country select:hover,.item-genra select:hover,.imagesuploader:hover,.videouploader:hover
{
    color: #495057 !important;
    background-color: TRANSPARENT;
    border-color: #ff55a5;
    outline: 0;
} 
.item-title input:focus,.item-description textarea:focus,.item-Releaseyear input:focus,.item-duration input:focus,.item-age input:focus,.item-qulity select:focus,.country select:focus ,.item-genra select:focus{
    color: #495057;
    background-color: TRANSPARENT;
    border-color: #ff55a5;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.dropdown-item.active, .dropdown-item:active {
    color: #ff55a5;
    text-decoration: none;
    background-color: transparent
}
.item-qulity .dropdown-item:hover
{
    color: #ff55a5;

    background-color: transparent;
}
.btn-secondary:focus, .btn-secondary.focus
{
    background-color: transparent !important;
    border-color: transparent !important;
}
.imagesuploader, .videouploader {
    position: relative;
    background: #2b2b31;
    padding: 15px 15px;
    color: #495057 !important;
    border: 1px solid transparent;
    height: 60px;
    width: 100%;
    cursor: pointer;
}
.imagesuploader input, .videouploader input {
    position: absolute;
    height: auto;
    border-radius: 3px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
.uploadcontent
{
    display: flex;
    justify-content: space-between;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 9px solid transparent;
    border-radius: 100%;
    background: #df4e93;
}
[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #000;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    padding-right: 15px;
}
.itemtype
{
    color:rgba(255,255,255,0.5);
}
[type="radio"]:not(:checked) + label
{
    opacity: 0.5;
}
#publish
{
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    color: #fff !important;
    padding: 11px 39px;
    text-transform: uppercase;
    opacity: 0.8;
    transition: 0.5s ease;
    border: 0;
    box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
    border-radius: 4px;
}
.loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    z-index: 9999999;
    background-color: rgba(0,0,0,.9);
}
.LabelLoading {
    position: absolute;
    top: 55%;
    left: 45%;
    z-index: 9999999;
    opacity: 0;
}
.SlowFadeOutLoader {
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s, opacity 2.5s linear;
}
#loading-image {
    position: absolute;
    top: 40%;
    left: 46%;
    z-index: 9999999;
    opacity: 0;
}
.loading #loading-image
{
    opacity: 1 !important;
}
.loading  .LabelLoading
{
    opacity: 1 !important;
}
.catalog-search
{
    width: 300px;
    margin-left: auto;
}
.catalog-search input
{
    transition: 0.5s ease;
}
.catalog-search input:hover {
    border: 1px solid #ff55a5;
}
.catalog-search input {
    position:relative;
    background-color: #28282d !important;
    border: 0;
  
}
.searchicon {
    position: absolute;
    top: 18px;
    right: 30px;
}
.statusred
{
    color: #ff5860;
}

.catalog-section td {
    background-color: #28282d;
    border-bottom: 10px solid #2b2b31;
}
.actions ul
{
    list-style-type: none;
}
.actions ul li
{
    display: inline-block;
    padding: 0px 5px;
}
.lock
{
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #2c3537;
}
.lock i
{
    padding: 5px;
    color:#5bceae ;
}
.eye
{
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgba(255,85,165,0.08)
}
.eye i {
    cursor: pointer;
    padding: 5px;
    color: rgba(255,85,165,0.8);
}
.edit 
{
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgba(55,150,246,0.08);
}
.edit i
{
    padding: 5px;

    color: #3796f6;
}
.trash
{
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: rgba(236,84,122,0.08);
}
.trash i
{
    padding: 5px;

    color: #ec547a;
}
.modal-dialog {
    position: relative;
    display: block;
    background-color: #28282d;
    margin: 40px auto;
    width: 100%;
    max-width: 420px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
    padding: 40px 20px;
    border-radius: 4px;
    overflow: hidden;
}
.modal-content
{
    background-color: transparent !important;
    border: 0;
}
.modal-header, .modal-footer {
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid transparent !important;
    justify-content: center;
}
.apply {
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
    background-color: transparent;
    border-color: transparent;
}
.apply:hover
{
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
    background-color: transparent;
    border-color: transparent;
}
.closebtn {
    background-color: rgba(255,255,255,0.05);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
    color: #fff;
}
.modal {
    top: 30% !important;
    
}
.modal-dialog:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
    margin: 0 auto;
    right: 0px;
    height: 2px;
    display: block;
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
}
.totalcatalogs {
    color: rgba(255,255,255,0.5);
    background-color: #28282d;
    padding: 10px;
    border-radius: 3px;
    height: 40px;
}

.pagination-section li
{
    list-style-type: none;
}
.page-link
{
color: #fff !important;
}
.page-item.active .page-link {

    background-color: transparent !important;
}
.pagination .active:hover
{
    color: #fff !important;
}
.pagination .active {
    width: 100%;
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    color: #fff !important;
    border-radius: 6px;
    background-color: transparent;
    text-transform: uppercase;
    opacity: 0.8;
    transition: 0.5s ease;
}
.page-link {
    background-color: #2b2b31 !important;
    border: 1px solid transparent !important;
}
.page-link i
{
    color: #fff !important;
}
.pagination-section {
    border: 1px solid #0000001c;
    padding: 0px 15px;
    box-shadow: 0px 2px 7px 0px rgb(0 0 0 / 27%);
    height: 54px;
}
.pagination
{
    padding-top: 8px;
}
.pagination ul li
{
    padding: 0px 10px;
}
.searchicon i
{
    color: rgba(255,255,255) 
}
.useritem-image {
    margin-right: 6px;
}